.Head{
    position: sticky;
    top: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.Get {
    margin-top: 750px;
}

button {
    font-size: 20px;
    padding: 5px;
    background-color: rgb(91, 226, 125);
    color:white;
    border-radius: 15px;
    border-color: rgb(46, 160, 74);
    margin: 20px;
}
